language: go

go:
  - 1.9.x
  - 1.10.x

before_install:
  - go get github.com/mattn/goveralls

script:
  - go test -v -covermode=count -coverprofile=profile.cov .
  - $HOME/gopath/bin/goveralls -coverprofile=profile.cov -service=travis-ci
